.DS_Store

mod/*/makefile
mod/*/obj/
mod/*/out.exe

mono/android/.gradle/
mono/android/.idea/
mono/android/app/.cxx/
mono/android/app/build/
mono/android/gradle/wrapper/gradle-wrapper.jar
mono/android/local.properties

mono/console/makefile
mono/console/obj/
mono/console/out.exe

mkout.exe
