.DS_Store

moduleprj/*/makefile
moduleprj/*/obj/
moduleprj/*/out.exe

monoprj/android/.gradle/
monoprj/android/.idea/
monoprj/android/app/.cxx/
monoprj/android/app/build/
monoprj/android/gradle/wrapper/gradle-wrapper.jar
monoprj/android/local.properties

monoprj/console/makefile
monoprj/console/obj/
monoprj/console/out.exe

mkgen.exe
